<main class="flex items-center justify-center mt-10 flex-col gap-12">
    <div class="mockup-code max-w-14">
        <pre data-prefix="$"><code>sudo pacman -Sy back-end </code></pre>
        <pre data-prefix=">" class="text-warning"><code>instalando...</code></pre>
        <pre data-prefix=">" class="text-success"><code>Modo Back-End OK !</code></pre>
      </div>
      <div>
        <select class="select select-secondary w-full max-w-xs border-blue-600 borber-none">
            <option disabled selected>minhas linguagens e tecnologias</option>
            <option>JavaScript</option>
            <option>expressJS</option>
            <option>prisma</option>
            <option>Typescript</option>
          </select>
      </div>
</main>